.layout {
  display: flex;
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-primary);
  width: 100%;
}

@media screen and (max-width: 767px) {
  .layout {
    flex-direction: column;
  }
}
