.table-container {
  /* color: red; */
  height: 40px;
  width: 300px;
  position: absolute;
  right: 30%;
  top: 10%;
}
table {
  width: 100%;
  /* border-collapse: collapse; */
  margin-bottom: 20px;
}
thead {
  background-color: #7016d0;
}
th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  /* border: 0 solid #dddddd; */
}
td {
  padding: 10px;
  text-align: left;
  /* border: 1px solid #dddddd; */
  color: black;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
