.layout .table-heading {
  margin-top: 65px;
  background-color: #ffffff;

  min-width: 675px;
  position: absolute;
  left: 30%;
  border-radius: 10px;
  border: 0px solid #e5e7eb;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.table-container {
  width: 60%;
  border-collapse: collapse;
  height: 40px;
  border: 1px solid #e5e7eb;
  margin: 20px auto;
  border-radius: 5px;
}

.table-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e5e7eb;
}
.table-up h3 {
  color: black;
}
.table-up input {
  height: 25px;
  width: 70px;
  border: 1px solid #e5e7eb;
}
.table-row {
  display: table-row;

  background-color: rgb(248 249 250);
}
th {
  text-align: left;
  color: rgb(112 22 208);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  white-space: nowrap;

  border: 0 solid #dddddd;
}
td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  white-space: nowrap;
  display: table-cell;

  color: black;
}
td img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.description {
  max-width: 100px; /* Set the maximum width for this specific cell */
  overflow: hidden; /* Hide content that overflows the cell */
  /* white-space: nowrap; Prevent text from wrapping */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
}
.subTitle {
  max-width: 100px; /* Set the maximum width for this specific cell */
  overflow: hidden; /* Hide content that overflows the cell */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-btn {
  /* background-color: #1d1fff; */
  right: 20%;
  margin-top: 17px;
  position: absolute;
  width: 60px;
  border: 0px solid #e5e7eb;
  box-shadow: 10px 10px 5px #aaaaaa;
  background: #7016d0;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-add {
  background: transparent;
  border: none;
  padding: 5px;
  color: #ffffff;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.action-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 50px;
  cursor: pointer;
}
.action-icon {
  color: #7016d0;
}
@media screen and (max-width: 767px) {
  .table-container {
    font-size: 14px;
    width: 80%;
  }
  .layout .table-heading {
    position: relative;
    left: 0;
    width: 100%;
    margin: auto;
  }
  .table-up {
    width: 80%;
    margin: auto;
  }
  th {
    /* font-size: 10px; */
    padding-right: 0px;
    padding-left: 1 rem;
    white-space: wrap;
  }

  .table-btn {
    position: relative;
    /* right: inherit; */
    /* width: 60%; */
    margin: auto;
    margin-top: 70px;
    left: 60%;
  }
}
@media screen and (max-width: 424px) {
  .layout .table-heading {
    top: 15%;
    padding: 10px;
    margin: 20px auto;
  }
  th {
    padding-left: 0;
    padding-right: 0;
  }
}
